.login-form-box {
    width: 30rem;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    position: relative;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.login-form-box .header {
    padding: 3px 5px;
    border-bottom: 1px solid var(--border-color);
    color: #3B5998;
    font-weight: bold;
}

.login-form-box .body {
    border-bottom: 1px solid var(--border-color);
    margin: 0 auto;
}

.login-form-box .body .field {
    margin-top: 30px;
    margin-left: 20px;
}

.login-form-box .body .field .name {
    display: inline;
    text-align: right;
    /*width: 3%;*/
    padding: 0.5em 2em 0.5em 0.5em;
}

.login-form-box .body .field .name label{
    text-align: right;
    width: 29%;
    float: right;
    position: absolute;
}

.login-form-box .body .field .value {
    float: right;
    display: inline;
    width: 65%;
}

.login-form-box .body .field .error {
    color: crimson;
    font-size: 0.75rem;
    padding: 0 0 0 35%;
}

.login-form-box .body .checkbox-field, .button-field {
    margin-top: 20px;
    text-align: center;
    font-size: 0.85rem;
    /*vertical-align: 5px;*/
}

.button-field {
    padding-top: 10px;
    font-size: 1.1rem;
}

.login-form-box .body .links, .login-form-box .footer {
    text-align: right;
    font-size: 0.7rem;
    margin: 3px;
}

.login-form-box .footer a {
    margin-right: 5px;
}
